{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <title>Я</title>
</head>
<body class="body">
    <p>Здравствуйте! Меня зовут Соинов Иван, мне 16 лет.<br>
        Я живу в Москве, учусь в 10 классе лицея № 1580 при МГТУ им. Баумана<br>
        Все свое свободное время я трачу на саморазвитие, а точнее на изучение Python.<br>
        Я знаком с библиотеками: Flask, Django, Pytelegrambotapi, Pandas, Numpy и многими другими.<br>
        Я прошел много курсов по Python и не только. Моя цель - стать Backend или Fullstack разработчиком на Python.<br>
        <a class="stepik" href="https://stepik.org/users/247070710">Профиль в Stepik</a><br>
        <img class = "my_photo" src="{% static 'main/img/i.jpg' %}" alt="My image">
    </p>
</body>
</html>
